/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  transition: background 0.3s, color 0.3s;
}

/* Modo escuro */
body.dark {
  background: #121212;
  color: #eee;
}

body.dark header,
body.dark footer {
  background: #000;
}