body {
  font-family: Arial;
  margin: 0;
}

header {
  background: #0056b3;
  color: white;
  padding: 40px;
  text-align: center;
}

nav {
  background: #eee;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 30px;
}
.voltar {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.voltar:hover {
  background: #0056b3;
}
/* Ajustes para celular */
@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  p, a {
    font-size: 18px;
  }
}